<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://distill.pub/template.v2.js"></script>
  <style><%= require("raw-loader!../static/style.css") %></style>
</head>

<body>

<d-front-matter>
  <script type="text/json">{
  "title": "something",
  "description": "some other thing",
  "password": "svgs",
  "authors": [
    {
      "author": "Reiichiro Nakano",
      "authorURL": "https://reiinakano.github.io/",
      "affiliation": "",
      "affiliationURL": ""
    }
  ],
  "katex": {
    "delimiters": [
      {
        "left": "$",
        "right": "$",
        "display": false
      },
      {
        "left": "$$",
        "right": "$$",
        "display": true
      }
    ]
  }
  }</script>
</d-front-matter>

<d-title>
  <h1>Neural Painters</h1>
  <p>Title is a work in progress</p>
  <div class="l-page" id="vtoc"></div>
</d-title>

<d-article>

  <p>
    This post explores neural painters' strengths and weaknesses, training methods, and some interesting things that can be achieved with them.
  </p>

  <figure class="subgrid">
    <figcaption style="grid-column: kicker">
      <!-- <span class="figure-number">Figure 1:</span> -->
      <span style="hyphens: manual;">As long as an </span>
      <span style="background-color: #FFF1E7; padding-left: 2px; padding-right: 2px;">image para&shy;meter&shy;ization</span>
      <span>is differ&shy;entiable, we can back&shy;propagate</span>
      <span style="white-space: nowrap;">( <img src="diagrams/backprop-arrow.svg" style="width: unset;"/> )</span>
      <span>through it.</span>
    </figcaption>
    <div class="l-body">
      <%= require("../static/diagrams/general.svg") %>
    </div>
  </figure>

  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    <d-footnote>Test! Let's cite<d-cite key="gatys2015"></d-cite> someone!</d-footnote>
    More text!
  </p> 

  <hr/>
  <p class="figcaption kicker-text-align" style="grid-column: kicker; margin-top: 20px;">
    <a href="#section-training-painter-networks" class="section-number">1</a>
  </p>
  <h2 id="section-training-painter-networks"><a href="#section-training-painter-networks">Training Painter Networks</a></h2>

  <p>
    This section shows two approaches for training a neural painter based on a real painting program, <a href="http://mypaint.org">MyPaint</a>. 
    It begins with a description of the action space for a brush stroke: starting point, end point, control point, brush size, pressure, color. 
  </p>

  <figure class="subgrid">
    <figcaption style="grid-column: kicker">
      The user is allowed to move the various knobs and see how the action space defines a full brushstroke. 
      Unless there's a good way to run a C++ library on the browser (MyPaint), then the images will presumably be fetched from somewhere as the knobs move.
    </figcaption>
    <div class="l-body">
      <%= require("../static/diagrams/general.svg") %>
    </div>
  </figure>

  <p>
    The first approach for training a neural painter uses two stages: train a VAE on brush strokes to learn a latent space for brush strokes, then train a feedforward neural network to map an action to the latent space.
  </p>

  <figure class="subgrid">
    <figcaption style="grid-column: kicker">
      Simple animated GIF or MP4 of a real brushstroke (left) and the neurally generated brushstroke (right) moving through the action space.
      We can include the moving knobs in the animation like in Figure 2 of DiffParams article.
    </figcaption>
    <div class="l-body">
      <%= require("../static/diagrams/general.svg") %>
    </div>
  </figure>

  <hr/>
  <p class="figcaption kicker-text-align" style="grid-column: kicker; margin-top: 20px;">
    <a href="#section-recreating-spiral" class="section-number">2</a>
  </p>
  <h2 id='section-recreating-spiral'><a href="#section-recreating-spiral">Recreating SPIRAL results</a></h2>

  <p>
    Lorem impsum.
    Dolor.
  </p>

  <hr/>
  <p class="figcaption kicker-text-align" style="grid-column: kicker; margin-top: 20px;">
    <a href="#section-expert-teaching" class="section-number">3</a>
  </p>
  <h2 id='section-expert-teaching'><a href="#section-expert-teaching">Learning Human Strokes</a></h2>

  <p>
    Lorem impsum.
    Dolor.
  </p>

  <hr/>
  <p class="figcaption kicker-text-align" style="grid-column: kicker; margin-top: 20px;">
    <a href="#section-diff-image-param" class="section-number">4</a>
  </p>
  <h2 id='section-diff-image-param'><a href="#section-diff-image-param">As a Differentiable Image Parameterization</a></h2>

</d-article>



<d-appendix>
  <h3>Acknowledgments</h3>
  <p>
    We are deeply grateful to...
  </p>

  <p>
    Many of our diagrams are based on...
  </p>

  <h3>Author Contributions</h3>
  <p>
    <b>Research:</b> Alex developed ...
  </p>

  <p>
    <b>Writing & Diagrams:</b> The text was initially drafted by...
  </p>


  <d-footnote-list></d-footnote-list>
  <d-citation-list></d-citation-list>
</d-appendix>

<!-- bibliography will be inlined during Distill pipeline's pre-rendering -->
<d-bibliography src="bibliography.bib"></d-bibliography>

</body>
